#jwbox_background{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	zoom: 1;
	-moz-opacity: 0.8;
	opacity:0.80;
	filter: alpha(opacity = 80);
	overflow: auto;
}
#jwboxContactClose{
       position:absolute; 
        bottom:0; 
        right:0; 
        background:url(https://jut4w4n1.googlecode.com/svn/trunk/controls.png) no-repeat -25px 0; 
        width:25px; 
        height:25px; 
        text-indent:-9999px;
}
.jwbox_hidden {
	display: none;
	position: relative;
	padding: 16px 16px 16px 16px;
	border: 1px solid white;
        background-color: white;
	z-index:1002;
	overflow: hidden;
	background-image:url();
	background-position:bottom right;
        background-repeat:no-repeat;      	
}
.jwbox_content{
        margin-bottom:5px; 
        overflow:visible;
}